body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
}

main {
    background-color: white;
    min-width: 200px;
    max-width: 850px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.568);
    margin: auto;
    padding: 10px;
}

input {
    margin: 5px;
    width: 70px;
}

label{
    font-size: 18px;
}

footer {
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    font-style: italic;
}

#res {
    columns: 4;
}